<head>
  <title>Контакты автосервиса</title>
</head>

<body>
  <a href="http://127.0.0.1:8000/main/">Главная</a>
  <h1>Контакты автосервиса</h1>
  <p>Адрес: ул. Ленина, д. 10</p>
  <p>Телефон: +7 (123) 456-78-90</p>
  <p>E-mail: info@autoservice.ru</p>

  <div class="map">
    <script
      type="text/javascript"
      charset="utf-8"
      async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A77f60f3614402a77607c1f9cb565882e4de2fe9767ab887dacc08243b5cd76ea&amp;width=80%&amp;height=450&amp;lang=ru_RU&amp;scroll=true"
    ></script>
  </div>

</body>